<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MNDatabase" connectionString="data source=MURCSP82\SQLEXPRESS,1433;initial catalog=CS744Dev;persist security info=True;user id=mssqluser;password=temp123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>