@model IEnumerable<MonitorNetwork.Database.relay>

@{
    ViewBag.Title = "Relay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Relays</h2>

<p>
    @Html.ActionLink("Create New Relay", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Region Color
        </th>
        <th>
            Relay IP
        </th>
        <th>
            Queue Limit
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.region.colors.colorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relayIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.queueLimit)
        </td>
    </tr>
}

</table>
