@model MonitorNetwork.Database.transaction

<td>
    @Html.DisplayFor(modelItem => Model.transactionID)
</td>
<td colspan="5">
    (Encrypted)
</td>
<td>
	@if (Model.status.HasValue)
	{
		if (Model.status.Value)
		{
			@:Approved
		}
		else
		{
			@:Declined
		};
	}
	else
	{
		@:Unprocessed
	}
</td>
<td>
    Sent to Store
</td>

