@model MonitorNetwork.Database.transaction

<td>
	@Html.DisplayFor(modelItem => Model.transactionID)
</td>
<td colspan="6">
	(Encrypted)
</td>
<td>
	@Html.DisplayFor(modelItem => Model.status)
</td>
<td>
	Sent
</td>

