@model IEnumerable<MonitorNetwork.Database.relay>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Set Queue</h2>
<br />
<table class="table">
    <tr>

        <th>
            Inactivated Relay IP
        </th>
        <th>
            Queue Limits
        </th>
        <th>
            Operation
        </th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm())
        {
   
        <tr>

            <td>
                <div class="form-group">
                    @Html.DisplayFor(modelItem => item.relayIP)
                    @Html.HiddenFor(modelItem => item.relayID)
                </div>
            </td>
            <td>
                <div class="form-group">
                    @Html.EditorFor(modelItem => item.queueLimit, new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </td>
            <td>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </td>
        </tr>
   
        }
    }

</table>